.ver-index {
    background-color: #efeff4;
}
.ver-index input {
            appearance: none;
    -webkit-appearance: none;
}
.ver-index .ui-form-item {
    position: relative;

    margin-top: 15px;
    padding: .15rem .1rem ;

    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.ver-index .ui-form-item:nth-child(5) {
    margin-top: 0;

    border-top: none;
}
.ver-index .ui-form-item label:not(.ui-radio) {
    font-size: 15px;

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: .1rem;

    color: #333;
}
.ver-index .ui-form-item input::-webkit-input-placeholder {
    color: #666;
}
.ver-index .ui-form-item input:-moz-placeholder {
    color: #666;
}
.ver-index .ui-form-item input[type=text] {
    font-size: 13px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 90px;

    color: #666;
    border: none;
}
.ver-index .choose-sex {
    font-size: 13px;

    padding-left: 90px;

    color: #666;
}
.ver-index .choose-sex .female {
    margin-left: 25px;
}
.ui-radio input {
    position: relative;

    display: inline-block;
    overflow: visible;

    width: 13px;
    height: 13px;
    margin-right: 5px;

    vertical-align: text-top;

    border: 0;
    outline: 0;
    background: 0 0;

    -webkit-appearance: none;
}
.ver-index .ui-radio input:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 12px;
    height: 12px;

    content: '';

    border: 1px solid #dfe0e1;
    border-radius: 7px;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
}
.ver-index .ui-radio input:checked:after {
    position: absolute;
    top: 4px;
    left: 4px;

    display: block;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 3px;
    background: #ff8362;
}
.ver-index #code {
    padding-right: 100px;
}
.ver-index .ver-code {
    font-size: 12px;

    position: absolute;
    top: 15px;
    right: 10px;

    width: .70rem;
    height: .25rem;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #ccc;
}
.ver-index .submit {
    padding: 15px 10px;
}
.ver-index .submit input {
    font-size: 16px;

    width: 100%;
    height: .4rem;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
}
