/* common */
html .page-orgs {
    background: #f0eff5;
}
.page-orgs a,
.page-orgs a:hover,
.page-orgs a:visited {
    color: inherit;
}
.page-orgs .container {
    padding: 10px;

    background: #fff;
}
.page-orgs .ico-position {
    color: #4bd89f;
}
.page-orgs .ico-sec {
    color: #fe8661;
}
.page-orgs .highlight {
    color: #fe8661 !important;
}
.page-orgs .position-right {
    position: absolute;
    top: 50%;
    right: 0;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* index */

/* search-link */
.page-orgs .search-link {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 7px 10px;

    -webkit-transition: all .3s;
            transition: all .3s;

    background: #f5f5f5;
}
.page-orgs .search-link a {
    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 25px;
    padding: 5px 10px;

    border: none;
    -webkit-border-radius: 2em/2em;
            border-radius: 2em/2.5em;
    background: #fff;
}
.page-orgs .search-link i {
    position: absolute;
    top: 50%;
    left: 10px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.page-orgs .total {
    line-height: 50px;

    text-align: center;

    color: #8f8f8f;
    background: #fff;
}
.page-orgs .total em {
    color: #fd8464;
}

.page-orgs .orgs {
    padding: 10px 0;

}
.page-orgs .org-item {
    position: relative;

    display: block;

    padding: .15rem .14rem;

    background: #fff;
}
.page-orgs * + .org-item {
    margin-top: 10px;
}
.page-orgs .org-item .avatar {
    float: left;

    width: .55rem;
    height: .55rem;
    margin-right: .15rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.page-orgs .org-item .main {
    overflow: hidden;
}
.page-orgs .org-item h4 {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;

    margin-bottom: 5px;

    white-space: normal;
}
.page-orgs .org-item p {
    font-size: .85em;

    color: #666;
}
.page-orgs .org-item i {
    color: #fd8464;
    font-size: .9em;
}

.page-orgs .pull-more {
    font-size: 14px;

    padding: 15px 0;

    text-align: center;

    color: #8b8b8b;
}
.page-orgs .pull-more i {
    color: inherit;
}

/* acts ×éÖ¯»î¶¯ */

.page-orgs .org-name {
    font-size: 1.125em;
    line-height: 2.32;

    margin-bottom: 10px;

    text-align: center;

    color: #fc8562;
    background: #fff;
}

.page-orgs .act-item {
    display: block;

    padding: 15px;

    background: #fff;
}
.page-orgs .act-item + .act-item {
    margin-top: 10px;
}
.page-orgs .act-item .count {
    font-size: 14px;

    position: relative;

    float: right;

    width: 65px;
    height: 65px;
    margin-left: 15px;

    text-align: center;

    color: #fff;
    background: #39d496;
}
.page-orgs .act-item .count .wrap {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.page-orgs .act-item .main {
    overflow: hidden;
}
.page-orgs .act-item .name {
    margin-bottom: 5px;
}
.page-orgs .act-item p {
    font-size: .85em;

    color: #8b8a93;
}


/* search ËÑË÷Ò³ */
.page-orgs .search-wrap {
    padding: 10px;

    background: #d8d7dd;
}
.page-orgs .search-wrap .submit {
    font-size: 14px;

    float: right;

    width: 50px;
    height: 32px;
    margin-left: 10px;

    color: #767676;
    border: 1px solid #c2c1c7;
    background: #fff;
}
.page-orgs .search-wrap label {
    position: relative;

    display: block;
    overflow: hidden;

    height: 30px;

    border: 1px solid #c2c1c7;
    background: #fff;
}
.page-orgs .search-wrap .decoration {
    font-size: 1.4em;

    position: absolute;
    top: 50%;
    left: 5px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    color: #999ba2;
}
.page-orgs .search-wrap #search {
    font-size: 14px;
    /*padding-left: 35px;*/

    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px 10px 4px  35px;

    border: none;
}


/* detail */
.page-orgs .panel h4 {
    font-weight: 500;

    margin-top: 5px;
    margin-bottom: 15px;
}
.page-orgs .panel .avatar {
    width: .475rem;
    height: .475rem;
}
.page-orgs .share {
    font-size: 1.5em;
    line-height: 0;

    position: absolute;
    right: 15px;
    bottom: 15px;
}
.page-orgs .share i {
    color: #37d596;
}



.page-orgs .title {
    margin-top: 10px;
    padding: 7px 15px;

    background: #e5e5e5;
}



/*.page-orgs * + .list {
    margin-top: 10px;
}*/
.page-orgs .list {
    margin-bottom: 10px;
    padding: 0 15px;
}


.page-orgs .list {
    font-size: .875em;

    padding: 0 15px;

    background: #fff;
}
.page-orgs .list .position-right {
    right: -12px;

    color: #cbcbce;
}
.page-orgs .list .item {
    position: relative;

    display: block;

    padding: 7px 0;
}
.page-orgs .list .item + .item {
    border-top: 1px solid #dedfe0;
}
.page-orgs .list .left {
    float: left;

    margin-right: 10px;
    padding-left: 3px;
}
.page-orgs .list .right {
    overflow: hidden;

    padding-right: 3px;

    text-align: right;

    color: #949494;
}
.page-orgs .list .links {
    padding-right: 15px;
}
.page-orgs .list .links i {
    right: 0;
    font-weight: 
}
.page-orgs .intro {
    font-size: .875em;

    margin-bottom: 20px;
    padding: 15px;

    text-align: justify;

    background: #fff;
}

.page-orgs .join {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    z-index: 20;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-orgs .join a {
    line-height: 40px;

    display: block;

    width: 100%;
    height: 40px;

    text-align: center;

    color: #fff !important;
    background: #fb7d5a;
}
.page-orgs .join .readonly {
    background: #645f5e;
}
