.poi-ex-goods {
    background-color: #efeff4;
}
.poi-ex-goods input {
            appearance: none;
    -webkit-appearance: none;
}
.poi-ex-goods .info-input input {
    font-size: 14px;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    padding: 15px 10px;

    color: #333;
    border: none;

}
.poi-ex-goods .info-input input::-webkit-input-placeholder {
    color: #333;
}
.poi-ex-goods .info-input input:-moz-placeholder {
    color: #333;
}
.poi-ex-goods .tips {
    font-size: 12px;
    line-height: 22px;

    margin-top: 15px;
    padding: 15px 10px;

    color: #666;
 
    background-color: #fff;
}
.poi-ex-goods .tips span {
    color: #f43530;
}
.poi-ex-goods .submit {
    padding: 15px 10px;
}
.poi-ex-goods .submit input {
    font-size: 14px;

    width: 100%;
    height: 40px;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #fd8362;
}
.poi-ex-goods .disabled input {
    background: #ccc;
    pointer-events: none;
}