.poi-goods-detail {
    background-color: #f5f5f5;
}
.poi-goods-detail input {
            appearance: none;
    -webkit-appearance: none;
}
.poi-goods-detail .banner {
    display: block;
    width: 100%;
    height: 2.1rem;
}
.poi-goods-detail .info {
    padding: 0.17rem 0.12rem;
    background-color: #fff;
}
.poi-goods-detail .info p:nth-child(1) {
    font-size: 0.16rem;
    color: #000;
}
.poi-goods-detail .info p:nth-child(2) {
    margin-top: 0.02rem;
    font-size: 0.12rem;
    color: #333;
}
.poi-goods-detail .info p:nth-child(3) {
    margin-top: 0.02rem;
    font-size: 0.11rem;
    color: #666;
}
.poi-goods-detail .info p span {
    font-size: 0.15rem;
    color: #ec6833;
}
.poi-goods-detail .common {
    margin-top: 0.1rem;
    padding: 0.1rem 0.12rem;
    background-color: #fff;
}
.poi-goods-detail .title {
    position: relative;
    padding-left: 0.1rem;
    font-size: 0.14rem;
    color: #000;
    margin-bottom: 0.05rem;
}
.poi-goods-detail .title:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.07rem;
    content: '';
    width: 0.02rem;
    height: 0.13rem;
    background-color: #fd8362;
    border-radius: 0.01rem;
}
.poi-goods-detail .main {
    font-size: 0.12rem;
    line-height: 1.8em;
    color: #666;
}
.poi-goods-detail .introduce .main p {
    text-indent: 2em;
    text-align: justify;
}
.poi-goods-detail .introduce .main p a {
    color: #ff9d46;
}
.poi-goods-detail .exchange {
    padding: 0.08rem;
    background-color: #fff;
    text-align: center;
}
.poi-goods-detail .exchange input {
    width: 1.9rem;
    height: 0.34rem;
    border: none;
    background-color: #ec6833;
    border-radius: 0.17rem;
    font-size: 0.14rem;
    color: #fff;
}
.poi-goods-detail .overlayer {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;

    background-color: rgba(0, 0, 0, .35);
}
.poi-goods-detail .popbox {
    margin-top: 150px;
    padding: 0 20px;
}
.poi-goods-detail .dialog {
    padding: 20px;

    color: #191919;
    border-radius: 3px;
    background-color: #fff;
}
.poi-goods-detail .dialog input {
    margin-left: 30px;

    color: #415783;
    border: none;
    background-color: #fff;
}
.poi-goods-detail .choose {
    margin-top: 80px;
    padding-right: 10px;

    text-align: right;
}
